<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1> <%= profile.username %>'s  Profile</h1>

    <% if (user.id === profile.id) { %>
        <p>Feel free to delete this!</p>

        <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Profile</button>
        </form>
    <% } %>
</body>
</html>